<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>earthquakes</title>


  <!-- Leaflet Old CSS -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" /> -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
  <!-- Leaflet Old JavaScript -->
  <!-- <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script> -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>


  <!-- timeDimension https://github.com/socib/Leaflet.TimeDimension -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.control.min.css" />

  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <!-- The div that holds our map -->
  <div id="map"></div>

  <!-- timeDimension -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.min.js"></script>

  <!-- Our JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-heatmap.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/timedimension2.js') }}"></script>
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script> -->
</body>
</html>
